#section-1 {
    border: 20px solid  black;
    margin:30px;
    padding:20px;
    display: flex;
    display: block;
}
h2 {
    background-color: brown;
}
footer {
    display: flex;
}
.first-letter {
    font-size: 30px;
}
label {
    display: flex;
    flex-direction: column;
}
.input-email {
     padding: 100px;
}
.btn {
    background-color: gray;
    width: 120px;
    border: 1px solid black;
    padding: 1px 6px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}